*.fasta
*.qual
*.new
*.fastq
*.fq
*.aln
*.tar
*.tar.gz
*.bam
*.fna
shorah/
*.fas
*.fai
*.log
data/
output/
test-data/
shorah-tests/
savage-tests/
.DS_Store
.snakemake
messages.log*
__pycache__
node_modules
yarn.lock
.Rhistory
