shorah/
output/
test-data/
shorah-tests/
savage-tests/
.DS_Store
.snakemake
messages.log*
__pycache__
node_modules
yarn.lock
package-lock.json
.Rhistory
Rplots.pdf
snakejob*
*.bt2
compartmentalization.json
.RData
*.pyc
